@model IEnumerable<ProjectApplication.Models.Table>

@{
    ViewData["Title"] = "Index";
}
<div style="padding:2rem">
<h1>Available Tables</h1>

<p>
@*    <a asp-action="Create">Create New</a>
*@</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TableName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustomerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TableId">Reserve</a> |
                <a asp-action="Details" asp-route-id="@item.TableId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>