@model IEnumerable<ProjectApplication.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
<div style="padding:2rem">
<h1 style="text-align:center">All Exsisting Customer</h1>
@*
<div class="btn btn-warning text-center" style="color:#fff">
    <a  asp-action="Create" style="text-align:center;text-decoration:none;">Add New</a>
</div>*@
<br/>
<br/>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="btn btn-light"><a asp-area="FOA" asp-controller="Dishes" asp-action="Index" >Order Now</a></div>
</div>